@model CompetencyFrameworkWebsite.Models.ResultsModel
@using CompetencyFrameworkWebsite.Controllers
@using Microsoft.Ajax.Utilities
@using System.Configuration;
@using System.Data.SqlClient;


@{

    ViewBag.Title = "Results";
}

@using (Html.BeginForm("SaveUserData", "Results",FormMethod.Post))
{

    <body>
    <div style="padding: 10px">

        @{

            foreach (var topic in Model.TopicsName)
            {
            
                <table style="border-collapse:collapse;width:100%">
                    <tr>
                        <th style="border:solid thin;"></th>
                        <td style="border:solid thin; align-content:center">@topic</td>
                        <th style="border:solid thin"></th>
                        <th style="border:solid thin"></th>
                    </tr>
                 
                    @foreach (var result in Model.Results.Where(x => x.TopicName == @topic))
                    {
                        <tr style="border:solid thin">



                            <td style="border:solid thin; width:100px">@result.AreaName</td>
                            <td style="border:solid thin">@result.CompetencyName</td>
                            <td style="border:solid thin" hidden><input type="text" hidden name="competencyID" value="@result.CompetencyID"></td>
                            <td style="border:solid thin; width:100px">@result.RatingName</td>
                            <td style="border:solid thin" hidden><input type="text" id="rating" class="ratingID"   value="@result.RatingID"></td>
                           
                            <td >
                               
                                    @if (result.RatingTypeID.Equals(1))
                                    {
                                        <select name="userRating"  id="userRatingColour" onchange="changeColour()">
                                         @foreach (var UserRating in Model.RatingID.GetRange(0, 6))
                                         {


                                         <option value=@UserRating.RatingID >@UserRating.RatingName</option>
                                           

                                         }
                                        </select>

                                    }

                                    else
                                    {
                                            <select name="userRating"  >
                                            @foreach (var UserRating in Model.RatingID.GetRange(6, 6))
                                            {

                                        <option value = @UserRating.RatingID > @UserRating.RatingName </option >


                                            }
                                     </select >

                                    }

                                </td >
                          
                        </tr >
                        }
            
                </table>
                <br />


                <script src= "http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js" type="text/javascript" ></script>


                <script type="text/javascript">
               // <script>

                    function changeColour() {

                        $('#userRatingColour').find('option').each(function (index, element)
                        {

                            alert("option" + element.value + "index" + index);



                        
                        //var select = document.getElementById("userRatingColour");
                        //for (var i = 0; i < select.length; i++) {
                            //var option = select.options[i];
                        //$("#userRatingColour option").each(function () {

                        //    //if ((this).val() == 2)

                        //    //{

                        //    //    alert ("2")
                        //    //}


                        //    var $ratingVal = $(this.val());
                        //alert($(this).text() + " : " + ratingVal)


                            //var ratingID = document.getElementById('rating').value;
                            //var s = document.getElementsByTagName("option").value;
                            // var s = document.getElementsById('userRatingColour').selectedIndex;
                            //var s = document.getElementsById('userRatingColour').value;

                            // var e = document.getElementById("userRatingColour");
                            // var s = e.options[e.selectedIndex].value;


                            // for (var i = 0; i < s.length; i++)
                            //{
                            //if (i == 0 || i==1 && ratingID == '6')

                            //alert(option);


                            //  }
                            //alert(s);


                            //var s = document.getElementById('userRatingColour'), selected, i;

                            //for (i = 0; i < s.length; i++)
                            //{
                            //    selected = s[i];
                            //    if (selected.selected)
                            //    {

                            //        alert(selected.value);
                            //    }



                            //}
                            // function changeColour() {
                            //  $("userRatingColour").each(function () {

                            // var s = $(this).val();
                            //$("#userRatingColour option).text();
                            //   alert($(this).text() + " : " + $(this).val());
                            //  });
                            // $("userRatingColour").find('option.selected').each(function () {
                            // $(document).on("click", "userRatingColour", function () {
                            //   alert("my life")
                            // });
                            //var y = document.getElementById('ratingID').value;
                            //  var s = document.getElementById('userRatingColour').value;
                            //var index = x.selectedIndex;
                            //// var ratingValue = document.getElementById('rating').value;

                            //  var option = ("userRatingColour").find('option.selected');


                            ////  alert("selected option" + option)


                            //$("userRatingColour").each(function () {

                            //    //if (parseInt($(this).val()) != 0) {
                            //    this.get
                            //  alert(s);
                            //}


                        // if (s =='0' || s == '1' || s == '5' && ratingValue == '6')
                        //{

                        // //selected.style.color = 'green';
                        //     document.getElementById('userRatingColour').style.color = 'blue'

                        // }
                        // else if (s == '4'  && ratingValue == '6')
                        // {

                        //     document.getElementById('userRatingColour').selectedIndex.style.color = "green";
                        // }


                        //var selected = $("#userRatingColour").val();

                        //var x = '';

                        //$("userRatingColour").find('option.selected').each(function () 
                        //$("option").each(function () {
                        //    //(this).val().style.color = "blue"

                        //});
                        // $("userRatingColour").each(function () {

                        //    if (parseInt($(this).val()) != 0) {

                        //    x = $(this).val();
                        //}

                        //   {
                        //document.getElementById('userRatingColour').style.color = 'green'
                        //document.getElementsById('userRatingColour').style.color = 'green'
                        //}
                        //else
                        // {
                        //} 

                       });
                        //    document.getElementById('userRatingColour').style.color = 'blue'

                        //  }
                        ///


                    //});
                            }
                </script>


            }

        }
        <input type="submit" class="btn btn-default" value="Submit">      
        </div>
             
        </body>
 }