@model CompetencyFrameworkWebsite.Models.ResultsModel



@{
    ViewBag.Title = "View my selection";
}

@using (Html.BeginForm("ViewSelection", "Results", FormMethod.Post))
{
    <div style="padding: 10px">
        
       
        @foreach (var rating in Model.UserSelection)
        {

            <p>@rating.RatingName</p>

        }

            @*foreach (var topic in Model.TopicsName)
            {

                <table style="border-collapse:collapse;width:100%">
                    <tr>
                        <th style="border:solid thin;"></th>
                        <td style="border:solid thin; align-content:center">@topic</td>
                        <th style="border:solid thin">Your selection</th>
                        <th style="border:solid thin"></th>
                    </tr>

                    @foreach (var result in Model.Results.Where(x => x.TopicName == @topic))
                    {
                        <tr style="border:solid thin">



                            <td style="border:solid thin; width:100px">@result.AreaName</td>
                            <td style="border:solid thin">@result.CompetencyName</td>
                            <td style="border:solid thin" hidden><input type="text" hidden name="competencyID" value="@result.CompetencyID"></td>
                            <td style="border:solid thin; width:100px">@result.RatingName</td>

                            <td>
                                @foreach (var userInput in Model.UserSelection)
                                {
                                    @userInput.RateID

                                }
                            </td>
                        </tr>
                    }
                </table>*@


            

        

    </div>

 }     
